* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: genshin;
	src: url("../fonts/zh-cn.ttf");
}

/*********************Accueil (index.php)*********************/

body {
	background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
    height: 100vh;
	font-family: genshin;
}


header {
	height: 50px;
	background: rgba( 255, 255, 255, 0.1 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3.5px );
	-webkit-backdrop-filter: blur( 3.5px );
	/* border-radius: 10px; */
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin-bottom: 50px;
	
}

nav {
	align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    color: #f1f3d8;
    text-shadow: 3px 3px 3px #20201a;
}

nav ul{
	display: flex;
	height: 50px;
	justify-content: center;
	justify-content: space-evenly;
	list-style-type: none;
	align-items: center;
}

a { 
	text-decoration: none;
	color: azure;
}

.container-clicker {
	width: 80%;
	height: auto;
	border: 1px solid black;
	margin: auto;

	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	
}

h2 {
	text-align: center;
    color: #f1f3d8;
    text-shadow: 3px 3px 3px #20201a;
    padding-top: 10px;
}

.img-click {
	display: block;
	margin: auto;
	width: 245px;
}

.container-clicker p#message {
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 3px;
	width: 285px;
    margin: auto;
    border-color: white;
}

.container-shop {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	padding: 44px 0px;
	color: #f1f3d8;
    text-shadow: 3px 3px 3px #20201a;

}

.prices-bonus-click-card, .prices-auto-click-card, .reset-card {
	border: 1px solid black;
    width: 200px;
	text-align: center;

	background: rgba( 255, 255, 255, 0.1 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

p {
	padding: 8px 0px;
}

.reset-card p {
	font-size: 14px;
}

a {
	margin: 15px 0px;
}

.myButton {
	background-color:#44c767;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:32px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color:#5cbf2a;
}

.myButton:active {
	position:relative;
	top:1px;
}

footer {
	margin-top: 35px;
	background: rgba( 255, 255, 255, 0.1 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3.5px );
	-webkit-backdrop-filter: blur( 3.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container-footer {
    width: 30%;
    margin: auto;
	justify-content: center;
}

/**********************inscription (register.php)**************/

.container-form {
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

	margin: auto;
    width: 35%;
    padding: 56px;
}