* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-clicker {
	width: 80%;
	height: auto;
	border: 1px solid black;
	margin: auto;
}

h2 {
	text-align: center;
}

.img-click {
	display: block;
	margin: auto;
	width: 245px;
}

.container-clicker p#message {
	text-align: center;
}

.container-shop {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	padding: 44px 0px;

}

.prices-bonus-click-card, .prices-auto-click-card, .reset-card {
	border: 1px solid black;
    width: 200px;
	text-align: center;
}

p {
	padding: 8px 0px;
}

a {
	margin: 15px 0px;
}

.myButton {
	background-color:#44c767;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:32px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}